<div
  id="card-{{ task.id }}"
  class="card-compact group relative my-2 w-[80%] place-self-center bg-base-100 shadow-xl"
>
  <div class="card-body">
    {% if status == "done" %}
    <article class="prose">
      <h2 class="card-title justify-between line-through">
        <div>
          <iconify-icon
            class="cursor-pointer hover:brightness-90 active:scale-[95%] active:brightness-90"
            icon="iconamoon:edit-duotone"
            hx-put="/htmx/task/{{ status }}/{{ task.id }}"
            hx-target="#card-{{ task.id }}"
            hx-swap="outerHTML"
          ></iconify-icon>
          {{ task.title }}
        </div>
        <iconify-icon
          class="hidden cursor-pointer place-self-start hover:brightness-90 active:scale-[95%] active:brightness-90 group-hover:block"
          icon="material-symbols:delete-outline"
        ></iconify-icon>
      </h2>
      <p class="line-through">{{ task.description }}</p>
    </article>
    {% else %}
    <article class="prose">
      <h2 class="card-title justify-between">
        <div>
          <iconify-icon
            class="cursor-pointer hover:brightness-90 active:scale-[95%] active:brightness-90"
            icon="iconamoon:edit-duotone"
            hx-put="/htmx/task/{{ status }}/{{ task.id }}"
            hx-target="#card-{{ task.id }}"
            hx-swap="outerHTML"
          ></iconify-icon>
          {{ task.title }}
        </div>
        <iconify-icon
          class="hidden cursor-pointer place-self-start hover:brightness-90 active:scale-[95%] active:brightness-90 group-hover:block"
          icon="material-symbols:delete-outline"
        ></iconify-icon>
      </h2>
      <p>{{ task.description }}</p>
    </article>
    {% endif %}
  </div>
</div>
