<div class="mt-5 flex w-full">
  <script>
    htmx.onLoad(function (content) {
      var sortables = document.querySelectorAll(".sortable");
      for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        var sortableInstance = new Sortable(sortable, {
          group: "shared",
          animation: 150,
          ghostClass: "blue-background-class",

          // Make the `.htmx-indicator` unsortable
          filter: ".htmx-indicator",
          onMove: function (evt) {
            return evt.related.className.indexOf("htmx-indicator") === -1;
          },

          // Disable sorting on the `end` event
          onEnd: function (evt) {
            // console.log(evt);
            if (evt.from !== evt.to) {
              evt.to.dispatchEvent(evt);
            }

            this.option("disabled", true);
          },
        });
        // Re-enable sorting on the `htmx:afterSwap` event
        sortable.addEventListener("htmx:afterSwap", function () {
          sortableInstance.option("disabled", false);
        });
      }
    });
  </script>
  <div class="card rounded-box grid w-[30%] bg-base-300 p-2">
    <div class="mx-2 flex flex-col">
      <div class="flex items-center justify-between">
        <article class="prose mb-5">
          <h1>Backlog</h1>
        </article>
        <iconify-icon
          class="cursor-pointer hover:brightness-90 active:scale-[95%] active:brightness-90"
          icon="icon-park-outline:add"
          width="30"
          height="30"
          hx-post="/htmx/task/empty/backlog"
          hx-target="#backlog-list"
          hx-swap="afterbegin"
        ></iconify-icon>
      </div>
      <form
        id="backlog-list"
        class="sortable flex flex-col items-center"
        hx-post="/htmx/sort/backlog"
        hx-trigger="end"
        hx-target="#backlog-list"
        hx-swap="outerHTML"
      >
        {% for task in backlog %}
        <div
          id="card-{{ task.id }}"
          class="group card-compact relative my-2 w-[80%] place-self-center bg-base-100 shadow-xl"
        >
          <input type="hidden" name="task_ids" value="{{ task.id }}" />
          <div class="card-body">
            <article class="prose">
              <h2 class="card-title justify-between">
                <div>
                  <iconify-icon
                    class="cursor-pointer hover:brightness-90 active:scale-[95%] active:brightness-90"
                    icon="iconamoon:edit-duotone"
                    hx-post="/htmx/task/{{ task.id }}"
                    hx-target="#card-{{ task.id }}"
                    hx-swap="outerHTML"
                  ></iconify-icon>
                  {{ task.title }}
                </div>
                <iconify-icon
                  class="hidden cursor-pointer place-self-start hover:brightness-90 active:scale-[95%] active:brightness-90 group-hover:block"
                  icon="material-symbols:delete-outline"
                  hx-delete="/htmx/task/{{ task.id }}"
                  hx-target="#card-{{ task.id }}"
                  hx-swap="outerHTML"
                ></iconify-icon>
              </h2>
              <p>{{ task.description }}</p>
            </article>
          </div>
        </div>
        {% endfor %}
      </form>
    </div>
  </div>

  <div class="divider divider-horizontal"></div>

  <div class="card rounded-box grid w-[30%] bg-base-300 p-2">
    <div class="mx-2 flex flex-col">
      <div class="flex items-center justify-between">
        <article class="prose mb-5">
          <h1>In-Progress</h1>
        </article>
        <iconify-icon
          class="cursor-pointer hover:brightness-90 active:scale-[95%] active:brightness-90"
          icon="icon-park-outline:add"
          width="30"
          height="30"
          hx-post="/htmx/task/empty/progress"
          hx-target="#progress-list"
          hx-swap="afterbegin"
        ></iconify-icon>
      </div>
      <form
        id="progress-list"
        class="sortable flex flex-col items-center"
        hx-post="/htmx/sort/progress"
        hx-trigger="end"
        hx-target="#progress-list"
        hx-swap="outerHTML"
      >
        {% for task in inProgress %}
        <div
          id="card-{{ task.id }}"
          class="card-compact group relative my-2 w-[80%] place-self-center bg-base-100 shadow-xl"
        >
          <input type="hidden" name="task_ids" value="{{ task.id }}" />
          <div class="card-body">
            <article class="prose">
              <h2 class="card-title justify-between">
                <div>
                  <iconify-icon
                    class="cursor-pointer hover:brightness-90 active:scale-[95%] active:brightness-90"
                    icon="iconamoon:edit-duotone"
                    hx-post="/htmx/task/{{ task.id }}"
                    hx-target="#card-{{ task.id }}"
                    hx-swap="outerHTML"
                  ></iconify-icon>
                  {{ task.title }}
                </div>
                <iconify-icon
                  class="hidden cursor-pointer place-self-start hover:brightness-90 active:scale-[95%] active:brightness-90 group-hover:block"
                  icon="material-symbols:delete-outline"
                  hx-delete="/htmx/task/{{ task.id }}"
                  hx-target="#card-{{ task.id }}"
                  hx-swap="outerHTML"
                ></iconify-icon>
              </h2>
              <p>{{ task.description }}</p>
            </article>
          </div>
        </div>
        {% endfor %}
      </form>
    </div>
  </div>

  <div class="divider divider-horizontal"></div>

  <div class="card rounded-box grid w-[30%] bg-base-300 p-2">
    <div class="mx-2 flex flex-col">
      <div class="flex items-center justify-between">
        <article class="prose mb-5">
          <h1>Done</h1>
        </article>
        <iconify-icon
          class="cursor-pointer hover:brightness-90 active:scale-[95%] active:brightness-90"
          icon="icon-park-outline:add"
          width="30"
          height="30"
          hx-post="/htmx/task/empty/done"
          hx-target="#done-list"
          hx-swap="afterbegin"
        ></iconify-icon>
      </div>
      <form
        id="done-list"
        class="sortable flex flex-col items-center"
        hx-post="/htmx/sort/done"
        hx-trigger="end"
        hx-target="#done-list"
        hx-swap="outerHTML"
      >
        {% for task in done %}
        <div
          id="card-{{ task.id }}"
          class="card-compact group relative my-2 w-[80%] place-self-center bg-base-100 shadow-xl"
        >
          <input type="hidden" name="task_ids" value="{{ task.id }}" />
          <div class="card-body">
            <article class="prose">
              <h2 class="card-title justify-between line-through">
                <div>
                  <iconify-icon
                    class="cursor-pointer hover:brightness-90 active:scale-[95%] active:brightness-90"
                    icon="iconamoon:edit-duotone"
                    hx-post="/htmx/task/{{ task.id }}"
                    hx-target="#card-{{ task.id }}"
                    hx-swap="outerHTML"
                  ></iconify-icon>
                  {{ task.title }}
                </div>
                <iconify-icon
                  class="hidden cursor-pointer place-self-start hover:brightness-90 active:scale-[95%] active:brightness-90 group-hover:block"
                  icon="material-symbols:delete-outline"
                  hx-delete="/htmx/task/{{ task.id }}"
                  hx-target="#card-{{ task.id }}"
                  hx-swap="outerHTML"
                ></iconify-icon>
              </h2>
              <p class="line-through">{{ task.description }}</p>
            </article>
          </div>
        </div>
        {% endfor %}
      </form>
    </div>
  </div>
</div>
