<html>
<head>
    <title>To-do App</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <script src="/static/htmx_1.9.6.min.js"></script>
    <link href="/static/output.css" rel="stylesheet">
</head>
<body>
    <div class="flex-col">
        <h1 class="text-3xl font-bold underline mb-2">
            Hello World
        </h1>
        <button 
            class="text-white bg-blue-500 hover:brightness-90 active:brightness-90 active:scale-[95%] font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2" 
            hx-post="/clicked"
            hx-trigger="click" 
            hx-swap="outerHTML"
        >
            Click Me
        </button>
    </div>

</body>
</html>